<h1>Experiments</h1>

<% @experiments.long_running_experiments.each do |long_running_experiment| %>
  <p><%= long_running_experiment %></p>
<% end %>

# Can't figure out how to write this.  Don't even know if an enumerable is the way here...

